<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Medicine</title>
</head>

<body>
    <h1>Edit Medicine</h1>

    <form action="/pharmacist/editMedicine" method="POST">
        <label for="name">Medicine Name:</label>
        <input type="text" id="name" name="name" required value="<%= name %>"><br>
    
        <label for="dosage">Dosage:</label>
        <textarea id="dosage" name="dosage" required><%= dosage %></textarea><br>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description" required><%= description %></textarea><br>
        
        <label for="medUse">Medicinal Use:</label>
        <textarea id="medUse" name="medUse" required><%= medUse %></textarea><br>
    
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required value="<%= price %>"><br>
    
        <button type="submit">Edit Medicine</button>
    </form>
    
    <a href="/logout"><button>Logout</button></a>
</body>

</html>
