<!DOCTYPE html>
<html>
<head>
    <title>Medicine List</title>
</head>
<body>
    <h1>Medicine List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Dosage</th>
                <th>Description</th>
                <th>Medicinal Use</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody>
            <% medicines.forEach(medicine => { %>
                <tr>
                    <td><%= medicine.name %></td>
                    <td><%= medicine.dosage %></td>
                    <td><%= medicine.description %></td>
                    <td><%= medicine.medUse %></td>
                    <td><%= medicine.sales %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>
