<!DOCTYPE html>
<html>
<head>
    <title>Requests List</title>
</head>
<body>
    <h1>Requests List</h1>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Date of Birth</th>
                <th>Hourly Rate</th>
                <th>Affiliation</th>
                <th>Educational Background</th>
                <th>ID File</th>
                <th>Medical Degree File</th>
                <th>Working License File</th>
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            <% getRequests.forEach(regRequest => { %>
                <tr>
                    <td><%= regRequest.username %></td>
                    <td><%= regRequest.name %></td>
                    <td><%= regRequest.email %></td>
                    <td><%= regRequest.password %></td>
                    <td><%= regRequest.dateOfBirth %></td>
                    <td><%= regRequest.hourlyRate %></td>
                    <td><%= regRequest.affiliation %></td>
                    <td><%= regRequest.educationalBackground %></td>
                    <!-- Display file links -->
                    <td><a href="/fetchFile?id=<%= regRequest._id %>&type=idFile" target="_blank">ID File</a></td>
                    <td><a href="/fetchFile?id=<%= regRequest._id %>&type=medicalDegreeFile" target="_blank">Medical Degree File</a></td>
                    <td><a href="/fetchFile?id=<%= regRequest._id %>&type=workingLicenseFile" target="_blank">Working License File</a></td>
                    <td>
                        <form method="POST" action="/admin/acceptRequest">
                            <input type="hidden" name="requestId" value="<%= regRequest._id %>">
                            <button type="submit">Accept</button>
                        </form>
                        <form method="POST" action="/admin/rejectRequest">
                            <input type="hidden" name="requestId" value="<%= regRequest._id %>">
                            <button type="submit">Reject</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>
