<!DOCTYPE html>
<html>
<head>
    <title>Medicine List</title>
</head>
<body>
    <h1>Medicine List</h1>
    
    <form action="/patient/searchMedicines" method="GET">
        <input type="text" name="search" placeholder="Search by medicine name">
        <button type="submit">Search</button>
    </form>

    <form action="/patient/medicines/filter" method="get">
        <input type="text" name="medUse" placeholder="Filter by Medicinal Use" />
        <button type="submit">Filter</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Dosage</th>
                <th>Description</th>
                <th>Medicinal Use</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% medicines.forEach(medicine => { %>
                <tr>
                    <td><img src="<%= medicine.image %>" alt="Medicine Image" style="width: 200px; height: 150px;"></td>
                    <td><%= medicine.name %></td>
                    <td><%= medicine.dosage %></td>
                    <td><%= medicine.description %></td>
                    <td><%= medicine.medUse %></td>
                    <td><%= medicine.price %></td>
                    <td>
                        <form action="/patient/addToCart" method="POST">
                            <input type="hidden" name="medicineName" value="<%= medicine.name %>">
                            <button type="submit">Add to Cart</button>
                        </form>                        
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/logout"><button>Logout</button></a>   
</body>
</html>
